---
layout: default
title: Evileye.eu.org SuperHero Server
language: en
---

<p class="languages">English | <a href="../ru/">Русский</a></p>
<h1 style="display: none">{{ page.title }}</h1>
{% include evileye.html %}
<p>Evileye.eu.org SuperHero Server is a CS 1.6 server with SuperHero mod.</p>
<p>Server address: <b>{{ site.server-address }}</b></p>
<p>To connect to the server use <b>connect {{ site.server-address }}</b> in a game console or <a href="steam://connect/{{ site.server-address }}">join via Steam</a>.</p>
<p>Kill your opponents to gain XP and level up. Every level you'll be able to pick a new superpower. Check <a href="help/">SuperHero Mod Help page</a> to learn more about the mod and available superpowers.</p>

<h2>News</h2><hr>
<p>02 Feb 2019 - The server has been launched. English, Russian languages are available.</p>
<p>20 Feb 2020 - <a href="https://github.com/ibiruai/cstrike-superhero-server/issues/3">The server is going to shut down soon.</a></p>

{% include status.html %}

<h2>Links</h2><hr>
<p><a href="https://github.com/ibiruai/cstrike-superhero-server">Git repository of the server</a></p>
<p><a href="https://www.gametracker.com/search/?search_by=server_variable&search_by2=superheromod_version">List of Counter-Strike 1.6 and Counter-Strike: Condition Zero servers with SuperHero Mod</a></p>
<p><a href="https://forums.alliedmods.net/forumdisplay.php?f=30">SuperHero Mod Sub-forum on Alliedmods.net</a></p>

{% include comments.html %}
