---
layout: default
title: Evileye.eu.org SuperHero сервер
language: ru
---

<p class="languages"><a href="../en/">English</a> | Русский</p>
<h1 style="display: none">{{ page.title }}</h1>
{% include evileye.html %}
<p>Evileye.eu.org SuperHero Server — CS 1.6 сервер с SuperHero модом.</p>
<p>Адрес сервера: <b>{{ site.server-address }}</b></p>
<p>Чтобы зайти на сервер, введите <b>connect {{ site.server-address }}</b> в консоли игры или <a href="steam://connect/{{ site.server-address }}">присоединитесь через Steam</a>.
<p>Зарабатывайте очки опыта за убийства оппонентов и поднимайтесь в уровне. С каждым уровнем вы сможете выбрать новую способность. Проверьте <a href="help/">Информацию о моде</a>, чтобы узнать больше о моде и о способностях.</p>

<h2>Новости</h2><hr>
<p>02 фев 2019 - Сервер запущен. Английский и русский языки доступны.</p>
<p>20 фев 2020 - <a href="https://github.com/ibiruai/cstrike-superhero-server/issues/3">Сервер скоро закроется.</a></p>

{% include status.html %}

<h2>Ссылки</h2><hr>
<p><a href="https://github.com/ibiruai/cstrike-superhero-server">Git репозиторий сервера</a></p>
<p><a href="https://www.gametracker.com/search/?search_by=server_variable&search_by2=superheromod_version">Список Counter-Strike 1.6 и Counter-Strike: Condition Zero серверов с SuperHero Mod</a></p>
<p><a href="https://forums.alliedmods.net/forumdisplay.php?f=30">SuperHero Mod подфорум на Alliedmods.net</a></p>

{% include comments.html %}
